<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vermeulen Inmetingen <%= typeof appMarker !== 'undefined' && appMarker === 'DEV' ? 'Development' : 'v1' %></title>
    <link rel="shortcut icon" href="/icons/cropped-favicon-1-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include("../partials/buttonbar") -%>