body {
    background-color: #006400;
    color: #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center h3 {
    margin-left: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

form.zoek input[type=text] {
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin: 3px 10px;
}

form.zoek button {
    float: right;
    width: 20%;
    padding: 10px;
	background-color: #ddba3f;
    color: #006400;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #ddba3f;
    border-left: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 40px;
}

form.zoek button:hover {
    color: #fff;
    background-color: #8b762a;
    border-color: #927a23;
}

div.gallery {
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    overflow: hidden;
    text-overflow: clip;
    padding: 7px;
    margin: 6px 0;
}

div.gallery:hover {
    border: 1px solid #777;
}

.contentsize {
    width:fit-content;
    margin: auto;
}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.clip a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center a {
    color: #ddba3f;
}

.buttonRow a {
    color: #006400;
}

/* Forms */
input[type=text], input[type=email], input[type=tel], input[type=number], input[type=checkbox], input[type=date], select, textarea {
    width: 95%;
    padding: 10px 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
}

label {
    padding: 10px 5px;
    display: inline-block;
}

.but {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    min-width: 120px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 12px;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        text-trasform .15s ease-in-out,
        box-shadow .15s ease-in-out;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.but:hover:not(.disabled) {
    box-shadow: 0 0 0 0.2rem #52585d80;
}

.but-oker {
    color: #006400;
	background-color: #ddba3f;
    border-color: #ddba3f;
    font-weight: bold;
}

.but-oker:hover {
    color: #fff;
    background-color: #8b762a;
    border-color: #927a23;
}

.but-oker:focus {
    color: #fff;
    background-color: #bb9f3b;
    border-color: #cba931;
}

.but-oker:active {
    color: #006400;
    background-color: #ddba3f;
    border-color: #ddba3f;
}

.but-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #ddba3f;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.disabled {
    color: #000000;
    background-color: #7e7e7e;
    border-color: #4a2908;
    font-weight: bold;
    box-shadow: 0px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.subtext {
    float: right;
    font-size: small;
    text-transform: uppercase;
    padding: 5px 10px;
}

.largetext {
    float: right;
    font-size: larger;
    text-transform: uppercase;
    padding: 5px 10px;
}

.nawIndex {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

[class*="col-"] {
    float: left;
    padding: 5px 0px;
}

#panelVeranda, #panelGSW, #panelZonwering, #panelOverig, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #006400;
    color: white;
    border: solid 1px #516c83;
    /* margin: auto; */
    margin-bottom: 10px;
    cursor: pointer;
}

#panelVeranda, #panelGSW, #panelZonwering, #panelOverig {
    display: none;
    cursor: auto;
    text-align: left;
    font-size: initial;
    font-weight: normal;
    text-transform: capitalize;
    border: solid 1px #516c83;
}

.index, .indexNAW {
    columns: auto 1;
    margin-bottom: 10px;
    padding: 5px;
}

.index .gallery, .indexNAW .gallery {
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    min-width: 179px;
}

/* for mobile */
[class*="col-"] {
    width: 100%;
}

.hid {
    visibility: hidden;
    display: none;
}
.center {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.buttonRow {
    text-align: center;
}

.buttonRow .but{
    width: 100%;
}

.static a {
    min-width: 75px;
    width: auto;
}

.nawRow1 {
    width: 50%;
}

.nawRow2 {
    width: 50%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .contentsize {
        width: inherit;
        margin: auto;
    }
    
    .buttonRow {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .hid {
        visibility: visible;
        display: block;
    }

    .center {
        margin: auto;
        width: 75%;
        padding: 10px;
    }

    /* .nawIndex {
        display: flex;
    } */

    .contentsize {
        width: inherit;
        margin: auto;
    }

    .buttonRow {
        text-align: justify;
    }

    .buttonRow .but{
        width: auto;
        margin: 10px;
    }

    .col-2 label {
        padding: 8px 0px;
    }

    .index {
        columns: auto 4;
    }
    
    .indexNAW {
        columns: auto 3;
    }

    .solo {
        columns: auto 1;
    }
    
    .nawRow1 {
        display: flex;
        width: 25%;
        justify-content: start;
    }

    .nawRow2 {
        display: flex;
        width: 75%;
        justify-content: end;
    }
}

.clearfix:after, .row::after {
    content: "";
    display: table;
    clear: both;
}
