<%- include("../partials/header") -%>

    <h1>WELKOM</h1>
    <p>U bevind zich momenteel op de experimentele web-app van Vermeulen steen en hout.</p>
    <p>Met deze web-app wordt beoogd om een efficiëntieslag te maken met het vele redundant dataverkeer.</p>
    <p>Om te beginnen klik op de knop "NAW".</p>

    <a href="/maintenance" class="but but-oker">ONDERHOUD</a>

    <div class="row" style="text-align: center; position: fixed; bottom: 0; right: 50%; height: 30px;"><a href="steenenhout.nl">Officiële website van Vermeulen steen en hout</a></div>

<%- include("../partials/footer") -%>