<%- include("../partials/header") -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


<div class="container">
    <div class="center">
        <div class="row"><h3 style="font-family: 'Times New Roman', Times, serif;">ThE SARgE</h3></div>
        <hr>
        <span class="largetext"><a class="fas fa-keyboard" style="color: #ddba3f;" href="#"></a> | <a class="fas fa-trash-alt"style="color: #522900;" href="#"></a></span>
    </div>
</div>

<%- include("../partials/footer") -%>