<%- include("../partials/header") -%>

<div class="center">
    <h1>INFORMATIE</h1>
    <p>Op deze pagina vind je diverse linkjes naar achtergrond informatie. Dit kan gaan om informatie omtrent inmetingen, werkprocessen en dergelijke.</p>
    <div class="gallery">
        <div class="row"><div class="col-12" style="font-weight: bold; text-transform: uppercase;">INMETINGEN</div></div>
        <div class="row">
            <div class="col-4">
                <a href="#">Maatvoering</a>
            </div>
            <div class="col-8">Informatie over gebruikte eenheidsaanduiding en zaken als binnen-, buiten- of hartmaat</div>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>