<%- include("../partials/header") -%>

    <div class="center">
        <h1>MAATVOERING</h1>
        <h3>Eenheden</h3>
        <p>Bij het inmeten worden maten <em>ALTIJD</em> in millimeters genoteerd. Dit houdt dus in dat een veranda van 5 meter breed en 3 meter lang genoteerd wordt als 5000 x 3000.</p>

        <h3>Wat meet je</h3>
        <p>Er zijn verschillende punten die gemeten kunnen worden. Het is belangrijk te weten welke afstand je opmeet en noteert. Er zijn 3 verschillende mogelijkheden:</p>
        <img src="/images/maatvoering-trans.png" alt="Maatvoering" style="max-width: 100%;">
        <p><sub>Voorbeeld maatvoering</sub></p>
        <ul>
            <li>Buitenwerkse maat</li>
            Dit is de afstand gemeten aan de buitenzijde van wat je aan het opmeten bent. Bijvoorbeeld een Ultraline veranda meet je van <strong>muur</strong> tot <strong>uiteinde overstek</strong>.

            <li>Binnenwerkse maat</li>
            Dit is de afstand gemeten aan de binnenzijde van wat je aan het meten bent. Een Ultraline veranda zal je dan meten van <strong>muur</strong> tot <strong>binnenzijde staander</strong>.

            <li>Hartmaat</li>
            Dit is de afstand gemeten vanaf de muur (of midden van de staander die als muur fungeert) tot het midden van de staander.
        </ul>
        <img src="/images/ultraline.png" alt="Ultraline" style="max-width: 100%;">
        <p><sub>Voorbeeld Ultraline (afbeelding op basis van Aluxe afbeelding)</sub></p>
    </div>


<%- include("../partials/footer") -%>