<%- include("../partials/header") -%>
<div class="container">
    <div class="center">
        <div class="row"><h3>NIEUWE KLANT</h3></div>
        <div class="gallery">
            <form action="/naw/new" method="POST" name="">
                <div class="row">
                    <div class="col-6"><label for"aanhef">Aanhef</label></div>
                    <div class="col-6">
                        <select id="aanhef" name="naw[aanhef]" required autofocus>
                            <option value="dhr.">De heer</option>
                            <option value="mevr.">Mevrouw</option>
                            <option value="familie">Familie</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="achternaam">Achternaam</label></div>
                    <div class="col-6">
                        <input type="text" id="achternaam" name="naw[achternaam" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="tussenvoegsels">Tussenvoegsels</label></div>
                    <div class="col-6">
                        <input type="text" id="tussenvoegsels" name="naw[tussenvoegsels">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="voornaam">Voornaam</label></div>
                    <div class="col-6">
                        <input type="text" id="voornaam" name="naw[voornaam">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="adres">Adres</label></div>
                    <div class="col-6">
                        <input type="text" id="adres" name="naw[adres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="postcode">Postcode / Woonplaats</label></div>
                    <div class="col-2">
                        <input type="text" id="postcode" name="naw[postcode" style="width: 75%;">
                    </div>
                    <div class="col-4">
                        <input type="text" id="woonplaats" name="naw[woonplaats" style="width: 93%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="telefoonnummer">Telefoonnummer</label></div>
                    <div class="col-6">
                        <input type="text" id="telefoonnummer" name="naw[telefoonnummer">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel01">Mobiel 01</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel01" name="naw[mobiel01">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel01omschrijving">Mobiel 01 omschrijving</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel01omschrijving" name="naw[mobiel01omschrijving">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel02">Mobiel 02</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel02" name="naw[mobiel02">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel02omschrijving">Mobiel 02 omschrijving</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel02omschrijving" name="naw[mobiel02omschrijving">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="description">Opmerkingen</label></div>
                    <div class="col-6">
                        <textarea type="text" id="description" name="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><input type="reset" value="Herstellen"></div>
                    <div class="col-6"><input type="submit" value="Toevoegen"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>