<%- include("../partials/header") -%>

<div class="container">
    <div class="center">
        <div class="row"><h3>NIEUWE KLANT</h3></div>
        <div class="gallery">
            <form action="/naw/new" method="POST" name="">
                <div class="row">
                    <div class="col-6"><label for="klantnummer">Klantnummer</label></div>
                    <div class="col-6">
                        <input type="number" id="klantnummer" name="klantnummer" autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for"aanhef">Aanhef</label></div>
                    <div class="col-6">
                        <select id="aanhef" name="aanhef" required>
                            <option value="dhr.">De heer</option>
                            <option value="mevr.">Mevrouw</option>
                            <option value="familie">Familie</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="achternaam">Achternaam</label></div>
                    <div class="col-6">
                        <input type="text" id="achternaam" name="achternaam" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="tussenvoegsels">Tussenvoegsels</label></div>
                    <div class="col-6">
                        <input type="text" id="tussenvoegsels" name="tussenvoegsels">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="voornaam">Voornaam</label></div>
                    <div class="col-6">
                        <input type="text" id="voornaam" name="voornaam">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="adres">Adres</label></div>
                    <div class="col-6">
                        <input type="text" id="adres" name="adres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="postcode">Postcode / Woonplaats</label></div>
                    <div class="col-2">
                        <input type="text" id="postcode" name="postcode" style="width: 75%;" placeholder="9672 BL">
                    </div>
                    <div class="col-4">
                        <input type="text" id="woonplaats" name="woonplaats" style="width: 93%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="telefoonnummer">Telefoonnummer</label></div>
                    <div class="col-6">
                        <input type="tel" id="telefoonnummer" name="telefoonnummer" placeholder="0597-431313">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel01">Mobiel 01</label></div>
                    <div class="col-6">
                        <input type="tel" id="mobiel01" name="mobiel01" placeholder="06-12345678">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel01omschrijving">Mobiel 01 omschrijving</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel01omschrijving" name="mobiel01omschrijving">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel02">Mobiel 02</label></div>
                    <div class="col-6">
                        <input type="tel" id="mobiel02" name="mobiel02" placeholder="06-12345678">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="mobiel02omschrijving">Mobiel 02 omschrijving</label></div>
                    <div class="col-6">
                        <input type="text" id="mobiel02omschrijving" name="mobiel02omschrijving">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="email">Email</label></div>
                    <div class="col-6">
                        <input type="email" id="email" name="email">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6"><label for="omschrijving">Opmerkingen</label></div>
                    <div class="col-6">
                        <textarea type="text" id="omschrijving" name="omschrijving"></textarea>
                    </div>
                </div>
                <div class="row buttonRow">
                    <div class="col-6"><input class="but but-deep-brown" style="width: 100%; padding: 5px" type="reset" value="Herstellen"></div>
                    <div class="col-6"><input class="but but-deep-brown" style="width: 100%; padding: 5px" type="submit" value="Toevoegen"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>