<%- include("../partials/header") -%>

    <div class="center">
        <h1>ONDERHOUD</h1>
        <p>
        <div>Op deze pagina kan onderhoud aan de database gedaan worden.</div>
        <div>Dit onderhoud beperkt zich tot de tabellen die betrekking hebben op de werking van deze web applicatie.</div>
        </p>
        
        <div class="gallery">
            <div class="col-4">
                <a href="/maintenance/kleuren">Kleurentabel</a>
            </div>
        </div>
    </div>

<%- include("../partials/footer") -%>